
<main class="app-content">
        <div class="app-title">
                <div>
                <h1><i class="fa fa-dashboard"></i> train</h1>
                <p>訓練機器人後 機器人會學習已經設定好的語料</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">train</a></li>
                </ul>
        </div>

        <div class="row">
                <div class="col-md-12">
                        <div class="tile">
                                <h3 class="tile-title">訓練</h3>
                                
                                <div class="row">
                                        <div class="col"><button type="button" class="btn btn-success mt-2 col-md-12" (click)="starttrain();">訓練</button></div>
                                        <!--<div class="col-md-3"><div class="p-3 border bg-light text-center">意圖</div></div>
                                        <div class="col-md-2"><div class="p-3 border bg-light text-center">控制</div></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-info mt-2">編輯</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-danger mt-2">刪除</button></div>-->
                                </div>      
                                
                                
                                    
                        </div>

                        

                        <div class="tile">

                                     
                                        <div class="row">
                                                <div class="col-md-4"><h5>模型名稱</h5></div>
                                                <div class="col-md-4"><h5>創造時間</h5></div>
                                                <div class="col-md-4"><h5>狀態</h5></div>
                                                <br>
                                         </div>   

                                         <div class="row justify-content-center">
                                                        <div class="spinner-box" *ngIf="waiting">
                                                            <div class="pulse-container">  
                                                                <div class="pulse-bubble pulse-bubble-1"></div>
                                                                <div class="pulse-bubble pulse-bubble-2"></div>
                                                                <div class="pulse-bubble pulse-bubble-3"></div>
                                                            </div>
                                                        </div>
                                                </div>
                                                

                                         <div class="row" *ngFor="let modeldata of modelsAll">
                                                <div class="col-md-4"><h6>{{modeldata.model}}</h6></div>
                                                <div class="col-md-4"><h6>{{modeldata.trained_at_}}</h6></div>
                                                <div class="col-md-4"><h6>{{modeldata.tags}}</h6></div>
                                        </div>   


                        </div>
                </div>
           </div>

     </main>