
<main class="app-content">
        <div class="app-title">
                <div>
                <h1><i class="fa fa-dashboard"></i> story</h1>
                <p>定義對話的狀態流程</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">story</a></li>
                </ul>
        </div>


       <!--https://botbonnie.com/
        https://medium.com/botbonnie/%E9%82%A6%E5%A6%AE%E6%95%99%E5%AD%B8%E6%89%8B%E5%86%8A-4a5e2715ee54
        可參考設計型式
-->


<div class="row justify-content-center"  *ngIf="waiting; else elseBlock">
                <div class="spinner-box">
                    <div class="pulse-container">  
                      <div class="pulse-bubble pulse-bubble-1"></div>
                      <div class="pulse-bubble pulse-bubble-2"></div>
                      <div class="pulse-bubble pulse-bubble-3"></div>
                    </div>
                </div>
            </div>



            <ng-template #elseBlock>
                <div class="row">
                        <div class="col-md-4">
                                <div class="tile" style="height:530px; overflow-x:hidden;overflow-y:auto;">
                                        <h3 class="tile-title">故事</h3>
                                        <div class="row justify-content-center" *ngFor="let story of storys">             
                                                <div  (click)="edit(story)" class="col-md-12 bg-light text-center text-dark"><p class="" style="display:'inline-block' font-weight='400' letter-spacing='0' font-size='100px';">{{story.name}}</p></div>
                                        </div>
                                                
                                </div>
                        </div>
                        
                        
                        
                        <div class="col-md-4">
                                <div class="tile" style="height:530px; overflow-x:hidden;overflow-y:auto;">
                                        <h3 class="tile-title">組織故事線{{editiStory.name}}</h3>
                                        <div class="row">
                                                       <!-- <ckeditor [(data)]="editorData"></ckeditor>-->
                                                       
                                                        <textarea #editordata style="height:350px; width:350px;">{{editorData}}</textarea>
                                                        <div class="col-md-8"></div>
                                                        <div class="col-md-4"><button type="button" class="btn btn-info mt-3" (click)="updatestory(editordata.value)">儲存</button></div>
                                        </div>
                                                        
                                </div>
                        </div>

                        <div class="col-md-4">
                                        <div class="tile" style="height:530px; overflow-x:hidden;overflow-y:auto;"> 
                                                <h3 class="tile-title">控制項</h3>
                                                <div class="row">
                                                                <!--<pre><code [(data)]="domain"></code></pre>-->
                                                                <code><pre  class="text-info">{{domain}}</pre></code>
                                                     <!--<ckeditor [(data)]="domain"></ckeditor>-->
                                                    
                                                                      
                                                </div>
                                                                
                                        </div>
                                </div>
                </div>
        </ng-template>
     </main>